<div class="main">
    <div class="container">
        <div class="top-bar">

          <div class="user-info">
            <p>{{userName}}'s task list</p>

          </div>

          <menu>
            <button (click) = "addTask()">Add Task</button>
        </menu>

        </div>

        <div class="content">
          <div class="task-list">
            <app-task-list></app-task-list>
          </div>

          @if(isTaskClicked) {
            <div class="task-details">
              <app-desc-card [taskDescription]="taskDescription"></app-desc-card>
            </div>
          }
          <!-- <div class="description">
            <app-desc-card></app-desc-card>
          </div> -->
        </div>
    </div>
  
    @if (isLoading) {
      <div class="loading-spinner">
        <app-add-task (isLoading) = "closeAddTask($event)" ></app-add-task>
      </div>
    }

</div>
