.page {
    display: grid;
    place-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 26rem;        
    min-height: 28rem;   
    margin: 0 auto;
    justify-content: center; 
    gap: 1rem;
    padding: 2rem;         
    box-sizing: border-box;

    background: linear-gradient(to bottom,#c883cf, #275a94 );
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bolder;
    font-size: 2rem;
    color: #ffffff;
}

/* input {

    width: 100%;          
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    border: none;
    outline: none;
    box-sizing: border-box;

}


label {
  display: block;
  font-weight: bold;
  font-size: 0.9rem;
  color: whitesmoke;
  margin-bottom: 6px;
  margin-top: 15px;
} */


button {
    width: 100%;
    margin-top: 3rem;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    border: none;
    outline: none;
    box-sizing: border-box;

}

.action{
  display: flex;
  justify-content: flex-end; 
}

button[type = "submit"] {
    background-color: rgb(27, 16, 54);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    margin-top: 2px;
}

button:hover {
      background-color: rgb(29, 2, 92);
      cursor: pointer;

}


mat-form-field.custom-form-field {
  width: 100%;
  margin-top: 15px;
   height: 4.5rem
}

mat-form-field.custom-form-field .mat-form-field-flex {
  border-radius: 6px;
  padding: 0 0.5rem;
}


mat-form-field.custom-form-field .mat-form-field-infix {
  color: black;
}

input.mat-input-element {
  color: #222;                 
  caret-color: black;
  font-size: 1rem;
   
}

.mat-form-field-label {
  color: #ffffff !important;
font-size: 1px;
        
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #000 !important;        
}

mat-error {
  color: #d31a1a;
  font-size: 0.8rem;
}

.reg {
  margin-top: 15px;
  justify-content: center;
  display: flex;
}

a {
  margin-left: 5px;
}